/* General reset */
body {
	margin:0;
	color:#3d3633;
	font:68.75%/1.37em Verdana, Arial, Helvetica, sans-serif;
	background:#fff url(../images/bg.jpg) repeat-x 50% 0;
	min-width:980px;
}
img {
	border-style:none;
}
a {
	text-decoration:none;
	color:#00587f;
}
a:hover {
	text-decoration:underline;
}
input, textarea, select {
	font:100% Arial, Verdana, sans-serif;
	vertical-align:middle;
}
form, fieldset {
	margin:0;
	padding:0;
	border-style:none;
}
.wrapper {
	margin:0 auto;
	width:980px;
	position:relative;
}
.hidden {
	display:none;
}
/* logo */
.logo {
	position:absolute;
	z-index:10;
	top:0;
	left:50px;
	margin:0;
}
.logo a {
	display:block;
	text-indent:-9999px;
	overflow:hidden;
	background:url(../images/logo.png);
	width:194px;
	height:252px;
	cursor:pointer;
}
/* main */
#main {
	width:100%;
	padding:331px 0 36px;
	position:relative;
}
#main:after {
	content:"";
	display:block;
	clear:both;
}
#main:after {
	height:0;
	clear:both;
	content:'';
	display:block;
}
#main.home {
	padding:0 0 32px;
}
.main-bg {
	padding:28px 10px 0;
	width:960px;
	background:url(../images/bg-main.png) no-repeat;
	min-height:500px;
	float:left;
	position:relative;
}
.main-bg:after {
	height:0;
	clear:both;
	content:'';
	display:block;
}
* html .main-bg {
	height:500px;
}
#main.home .main-bg {
	margin-top:480px;
}
.threecol-main .main-bg {
	background:url(../images/bg-main1.png) no-repeat;
}
/* threecolumns */
.threecolumn {
	width:100%;
	background:url(../images/bg-threecolumn.gif) repeat-y 289px 0;
}
.threecolumn:after {
	height:0;
	clear:both;
	content:'';
	display:block;
}
.threecolumn .columns {
	float:left;
	width:647px;
}
/* center column */
.col-center {
	float:right;
	width:336px;
}
/* left sidebar */
.sidebar {
	float:left;
	width:234px;
	margin:0 0 0 -5px;
	display:inline;
}
.sidebar:after {
	height:0;
	clear:both;
	content:'';
	display:block;
}
.home .sidebar {
	padding:0 0 0 26px;
	margin:0;
	width:243px;
}
/* text box */
.text-box {
	width:100%;
	overflow:hidden;
	padding:0 0 24px;
	background:url(../images/dotted.gif) repeat-x 0 100%;
	margin:0 0 20px;
}
.text-box h1 {
	text-align:center;
	color:#692a19;
	font:bold 2em/1.37em Georgia, 'Times New Roman', Times, serif;
	margin:3px 0 15px;
}
.text-box p {
	margin:0;
	padding:0 0 15px;
}
.btn-blue {
	float:right;
	background:url(../images/btn-blue.gif);
	color:#fff;
	padding:0 0 0 4px;
}
.btn-blue span {
	float:left;
	cursor:pointer;
	background:url(../images/btn-blue.gif) no-repeat 100% 0;
	line-height:26px;
	height:26px;
	overflow:hidden;
	padding:0 16px 0 12px;
	font-size:1em;
}
/* search box */
.search-box {
	width:100%;
	padding:0 0 10px;
	overflow:hidden;
}
.search-box h2 {
	color:#692a19;
	font:bold 1.455em Georgia, 'Times New Roman', Times, serif;
	margin:0 0 18px;
}
/* pattern box */
.pattern-box {
	width:100%;
	overflow:hidden;
	background:url(../images/bg-pattern.jpg);
	margin:0 0 12px;
	float:left;
}
.pattern-box .pattern-t {
	width:100%;
	overflow:hidden;
	background:url(../images/pattern-t.jpg) no-repeat;
}
.pattern-box .pattern-b {
	height:1%;
	overflow:hidden;
	background:url(../images/pattern-b.jpg) no-repeat 0 100%;
	padding:17px 15px 0;
}
.pattern-box .row {
	width:100%;
	overflow:hidden;
	padding:0 0 17px;
}
.pattern-box select {
	width:210px;
}
.pattern-box .col1 {
	float:left;
	width:84px;
}
.pattern-box .calendar-col {
	width: 112px;
}
.pattern-box label {
	display:block;
	color:#692a19;
	font-weight:bold;
	padding:0 0 6px;
}
.pattern-box .txt {
	float:left;
	border:1px solid #c1c1c1;
	color:#3d3633;
	font:11px/14px Verdana, Arial, Helvetica, sans-serif;
	height:14px;
	padding:4px 2px;
	text-align:center;
	width:71px;
}
.lnk-calendar {
	display:block;
	text-indent:-9999px;
	overflow:hidden;
	background:url(../images/ico-calendar.gif);
	width:16px;
	height:16px;
}
.pattern-box .lnk-calendar {
	float:left;
	margin:25px 12px 0 0;
}
.pattern-box .col2 {
	float:left;
	overflow:hidden;
	width:81px;
}
.pattern-box .btn-search {
	border:0 none;
	color:#fff;
	cursor:pointer;
	float:left;
	font:11px/24px Verdana, Arial, Helvetica, sans-serif;
	height:26px;
	overflow:hidden;
	padding:0 0 4px;
	text-align:center;
	width:81px;
	background:url(../images/btn-search.gif);
	margin:18px 0 0;
}
.search-box .lnk-view {
	float:right;
}
/* post box */
.post-box {
	width:100%;
}
.post-box:after {
	height:0;
	clear:both;
	content:'';
	display:block;
}
.post-box h3 {
	color:#692a19;
	font-size:1.1em;
	margin:0 0 10px;
}
.post-box .img-col {
	float:left;
	margin:0 8px 0 -3px;
	position:relative;
	width:96px;
}
* html .post-box .img-col {
	margin:0 5px 0 -3px;
}
/* photo frame box */
.photo {
	float:left;
	background:url(../images/bg-photo1.jpg) no-repeat;
	overflow:hidden;
}
.photo .bg1 {
	height:1%;
	overflow:hidden;
	background:url(../images/bg-photo1.gif) no-repeat 100% 100%;
}
.photo .bg2 {
	height:1%;
	overflow:hidden;
	background:url(../images/bg-photo2.gif) no-repeat 100% 0;
}
.photo .bg3 {
	height:1%;
	padding:8px;
	overflow:hidden;
	background:url(../images/bg-photo3.gif) no-repeat 0 100%;
}
.photo a {
	display:block;
}
.photo img {
	display:block;
}
.post-box .photo div {
	float:left;
}
.post-box .descr-col {
	height:1%;
	overflow:hidden;
	padding:5px 0 0;
}
.post-box .descr-col p {
	margin:0 0 12px;
}
.post-box .descr-col .lnk-view {
	float:left;
}
/* left sidebar side box */
.sidebar .side-box {
	padding:6px 0 27px 30px;
	width:185px;
}
.home .sidebar .side-box {
	padding:6px 0 27px;
	width:232px;
}
.sidebar .side-box .link-list {
	padding:0;
}
/* left sidebar heading */
.sidebar .heading {
	width:213px;
	height:52px;
	padding:0 10px 0 20px;
	margin:0 0 0 -9px;
	position:relative;
}
.home .sidebar .heading {
	margin:0 0 0 -36px;
	width:248px;
}
.green-bar .heading {
	background:url(../images/heading-green.png);
}
.blue-bar .heading {
	background:url(../images/heading-blue.png);
}
.red-bar .heading {
	background:url(../images/heading-red.png);
}
.heading h3, .heading h2 {
	margin:0;
	font:bold 1.364em/38px Georgia, 'Times New Roman', Times, serif;
	color:#fff;
}
/* left sidebar box content */
.sidebar .side-box .content {
	padding:6px 0 0 36px;
	width:232px;
}
.sidebar .side-box .photo {
	margin:0 -4px 12px;
	position:relative;
	display:inline;
}
.home .sidebar .side-box .photo {
	margin:0 0 12px -6px;
}
.sidebar .side-box .photo div {
	float:left;
}
.sidebar .side-box .text {
	height:1%;
	clear:both;
}
.sidebar .side-box .text:after {
	height:0;
	clear:both;
	content:'';
	display:block;
}
.sidebar .side-box h3 {
	color:#692a19;
	font-size:1.091em;
	margin:0 0 8px;
}
.sidebar .side-box p {
	margin:0 0 11px;
}
/* tools list */
.tools {
	list-style:none;
	padding:0;
	margin:0 0 0 -17px;
	width:110%;
	overflow:hidden;
	clear:both;
}
.tools li {
	float:left;
	background:url(../images/sep-dotted.gif) no-repeat 0 50%;
	padding:0 0 0 9px;
	margin:0 0 0 8px;
	display:inline;
}
.tools li:first-child {
	background:none;
}
.sidebar .side-box .photo-right {
	margin-right:7px !important;
}
* html .sidebar .side-box .photo-right {
	margin-right:4px;
}
/* right sidebar */
.aside {
	float:right;
	width:248px;
	padding:0 21px 0 0;
}
.aside:after {
	height:0;
	clear:both;
	content:'';
	display:block;
}
* html .aside {
	overflow:hidden;
}
/* right sidebar heading */
.aside .heading {
	position:relative;
	overflow:hidden;
	width:228px;
	height:52px;
	margin:0 -30px 0 0;
	padding:0 30px 0 20px;
}
.orange-side .heading {
	background:url(../images/heading-orange-right.png);
}
/* right sidebar side-box */
.aside .side-box {
	padding:4px 0 18px 17px;
	margin:0 0 12px;
	width:231px;
	background:url(../images/dotted.gif) repeat-x 0 100%;
}
.aside .side-box:after {
	height:0;
	clear:both;
	content:'';
	display:block;
}
.aside .side-box h4 {
	margin:0;
	color:#cc6423;
	font-size:1.091em;
}
.aside .side-box h4 a {
	color:#cc6423;
}
.aside .side-box .dates {
	list-style:none;
	padding:0;
	margin:0 0 0 -13px;
	width:100%;
	overflow:hidden;
	font-weight:bold;
	color:#3d3633;
}
.aside .side-box .dates li {
	display:inline;
	background:url(../images/sep.gif) no-repeat 0 50%;
	padding:0 7px 0 13px;
}
.aside .side-box .dates li:first-child {
	background:none;
}
.aside .side-box .dates a {
	color:#692a19;
}
.aside .side-box .location {
	display:block;
	color:#6e6866;
	font-size:0.910em;
	padding:0 0 4px;
}
.aside .side-box .photo-right div {
	float:left;
}
.aside .side-box .photo-right {
	position:relative;
	margin:0 9px 0 -5px;
}
* html .aside .side-box .photo-right {
	margin:0 6px 0 -5px;
}
.aside .side-box p {
	margin:0;
	font-size:0.910em;
	line-height:1.3em;
}
.aside .side-box .hold {
	clear:both;
	width:100%;
	padding:0 0 10px;
}
.aside .side-box .hold:after {
	height:0;
	clear:both;
	content:'';
	display:block;
}
/* link list */
.link-list {
	list-style:none;
	padding:10px 0 0 17px;
	margin:0;
	height:1%;
	overflow:hidden;
}
.link-list li {
	height:1%;
	overflow:hidden;
	background:url(../images/arrow-orange.gif) no-repeat 0 0.4em;
	padding:0 0 10px 15px;
}
.link-list-green li {
	background:url(../images/arrow-green.gif) no-repeat 0 0.4em;
}
.link-list-red li {
	background:url(../images/arrow-red.gif) no-repeat 0 0.4em;
}
.link-list-violet li {
	background:url(../images/arrow-violet.gif) no-repeat 0 0.4em;
}
.link-list-blue li {
	background:url(../images/blt-arrow.gif) no-repeat 0 0.4em;
}
/* header */
#header {
	position:absolute;
	top:46px;
	z-index:2;
	left:5px;
	width:970px;
}
#header .bg {
	background:url(../images/visual-frame.png);
	width:940px;
	padding:15px;
	height:230px;
}
#header .bg:after {
	height:0;
	clear:both;
	content:'';
	display:block;
}
#header.home .bg {
	background:url(../images/gallery-frame.png);
	height:380px;
}
/* gallery */
.gallery {
	width:940px;
	height:380px;
	overflow:hidden;
	position: relative;
}
/* gallery content */
.gallery-content {
	list-style:none;
	padding:0;
	margin:0;
	width:9999px;
}
.gallery-content li {
	width:940px;
	height:380px;
	overflow:hidden;
	position: absolute;
	left: 0;
	top: 0;
	z-index: 1;
}
.gallery-content li.active {
	z-index: 2;
}
.gallery-content img {
	display:block;
}
/* gallery tools */
.gallery-tools {
	list-style:none;
	padding:0;
	margin:0;
	position:absolute;
	top:356px;
	left:26px;
	z-index: 10;
}
.gallery-tools li {
	float:left;
	margin:0 7px 0 0;
}
.gallery-tools a {
	float:left;
	text-indent:-9999px;
	overflow:hidden;
	width:14px;
	height:13px;
	background:url(../images/gallery-dot.png);
	cursor:pointer;
}
.gallery-tools a:hover, .gallery-tools .active a {
	background:url(../images/gallery-dot-hov.png);
}
/* navigation */
.navigation {
	position:absolute;
	z-index:10;
	left:15px;
	top:70px;
	width:940px;
}
.navigation ul {
	list-style:none;
	padding:0;
	margin:0;
	background:url(../images/bg-nav.png) repeat-x;
	width:940px;
}
.navigation ul:after {
	height:0;
	clear:both;
	content:'';
	display:block;
}
.navigation li {
	float:left;
}
.navigation a {
	color:#fff;
	float:left;
	padding:0 0 0 6px;
	height:55px;
	line-height:52px;
	font-size:17px;
}
.navigation a:hover {
	text-decoration:none;
}
.navigation li:hover, .navigation li.hover {
	position:relative;
}
.navigation a span {
	float:left;
	height:55px;
	padding:0 20px 0 14px;
	cursor:pointer;
}
.navigation a.color1 {
	margin-left:220px;
}
.navigation li.hover a.color1, .navigation li:hover a.color1 {
	background:url(../images/nav-color1.jpg);
}
.navigation li.hover a.color1 span, .navigation li:hover a.color1 span {
	background:url(../images/nav-color1.jpg) no-repeat 100% 0;
}
.navigation li.hover a.color2, .navigation li:hover a.color2 {
	background:url(../images/nav-color2.jpg);
}
.navigation li.hover a.color2 span, .navigation li:hover a.color2 span {
	background:url(../images/nav-color2.jpg) no-repeat 100% 0;
}
.navigation li.hover a.color3, .navigation li:hover a.color3 {
	background:url(../images/nav-color3.jpg);
}
.navigation li.hover a.color3 span, .navigation li:hover a.color3 span {
	background:url(../images/nav-color3.jpg) no-repeat 100% 0;
}
.navigation li.hover a.color4, .navigation li:hover a.color4 {
	background:url(../images/nav-color4.jpg);
}
.navigation li.hover a.color4 span, .navigation li:hover a.color4 span {
	background:url(../images/nav-color4.jpg) no-repeat 100% 0;
}
.navigation li.hover a.color5, .navigation li:hover a.color5 {
	background:url(../images/nav-color5.jpg);
}
.navigation li.hover a.color5 span, .navigation li:hover a.color5 span {
	background:url(../images/nav-color5.jpg) no-repeat 100% 0;
}
.navigation li.hover a, .navigation li:hover a {
	margin-bottom:-5px;
	height:60px;
	position:relative;
	z-index:5;
}
.navigation li.hover a span, .navigation li:hover a span {
	height:60px;
}
/* dropdown */
.navigation li ul {
	position:absolute;
	display:none;
	top:55px;
	left:0;
	padding:10px 10px 10px 18px;
	width:auto;
	z-index:2;
}
.navigation li:hover ul, .navigation li.hover ul {
	display:block;
}
.navigation li ul li {
	float:none;
	padding:0 0 7px;
	white-space:nowrap;
}
.navigation li ul a {
	font-size:1em;
	line-height:1.455em;
	float:none;
	height:auto;
	margin:0;
	padding:0;
}
.navigation li ul a:hover {
	text-decoration:underline;
}
.navigation li ul.color1 {
	background:#4b1e12 url(../images/drop-color1.gif) repeat-x;
	left:220px;
}
.navigation li ul.color2 {
	background:#51612b url(../images/drop-color2.gif) repeat-x;
}
.navigation li ul.color3 {
	background:#cc6423 url(../images/drop-color3.gif) repeat-x;
}
.navigation li ul.color4 {
	background:#006681 url(../images/drop-color4.gif) repeat-x;
}
.navigation li ul.color5 {
	background:#4e244d url(../images/drop-color5.gif) repeat-x;
}
/* weather box */
.weather {
	position:absolute;
	bottom:40px;
	left:681px;
	width:253px;
	z-index: 10;
}
.weather .top, .weather .bottom {
	display:block;
	overflow:hidden;
	width:253px;
	height:4px;
}
.weather .top {
	background:url(../images/weather-top.png);
}
.weather .bottom {
	background:url(../images/weather-bottom.png);
}
.weather .middle {
	width:100%;
	background:url(../images/bg-weather.gif);
	color:#fff;
	font-size:11px;
}
.weather .middle:after {
	height:0;
	clear:both;
	content:'';
	display:block;
}
.weather .middle-hold {
	width:100%;
	position:relative;
	background:url(../images/bg-weather-top.gif) no-repeat;
	padding:0 0 3px;
}
.weather .middle-hold:after {
	height:0;
	clear:both;
	content:'';
	display:block;
}
.weather .img-weather {
	position:absolute;
	top:-3px;
	left:-7px;
}
.weather .weather-tools {
	list-style:none;
	padding:6px 0 3px 55px;
	margin:0;
	letter-spacing:-1px;
}
.weather .weather-tools li {
	display:inline;
	background:url(../images/sep-dotted-white.gif) no-repeat 0 50%;
	padding:0 3px 0 8px;
}
.weather .weather-tools li:first-child {
	background:none;
}
.weather .weather-tools a {
	color:#fff;
}
.weather .weather-tools a:hover, .weather .weather-tools .active a {
	color:#bed63a;
	text-decoration:none;
}
.weather .deg {
	float:left;
	font-size:28px;
	letter-spacing:-1px;
	line-height:32px;
	padding:0 0 0 62px;
}
.weather .sunny {
	float:left;
	letter-spacing:-1px;
	padding-top:8px;
	margin:0 9px 0 3px;
}
.weather .button-more {
	background:url("../images/btn-more.gif") repeat scroll 0 0 transparent;
	color:#FFFFFF;
	float:right;
	height:22px;
	line-height:22px;
	margin:5px 13px 0 0;
	padding:0 0 0 9px;
	width:43px;
}
/* headline */
#headline {
	position:absolute;
	top:0;
	left:20px;
	width:940px;
}
/* search form */
.search {
	float:right;
	background:#fff;
	border:1px solid #7899b5;
	width:200px;
	margin:16px 0 0;
}
.search label {
	display:none;
}
.search .form-item {
	float:left;
}
.search .form-text {
	float:left;
	border:0;
	color:#6e6866;
	font:11px/14px Verdana, Arial, Helvetica, sans-serif;
	height:14px;
	padding:4px 7px;
	width:166px;
}
.search .form-submit {
	float:right;
	text-indent:-9999px;
	overflow:hidden;
	line-height:200px;
	cursor:pointer;
	border:0;
	background:url(../images/ico-zoom.gif);
	width:11px;
	height:11px;
	margin:6px 5px 0 0;
	padding:0;
}
/* top menu */
.top-menu {
	float:right;
	list-style:none;
	padding:11px 3px 0 0;
	margin:0;
	text-transform:uppercase;
	line-height:38px;
}
.top-menu li {
	float:left;
	background:url(../images/sep-dotted-white.gif) no-repeat 0 50%;
	padding:0 10px 0 15px;
}
.top-menu li:first-child {
	background:none;
}
.top-menu a {
	color:#fff;
	float:left;
}
.top-menu span {
	float:left;
	cursor:pointer;
	background:url(../images/arrow-btm.gif) no-repeat 100% 50%;
	padding:0 12px 0 0;
}
/* footer */
#footer {
	width:100%;
	overflow:hidden;
	background:url(../images/bg-footer.jpg) no-repeat 50% 0;
	padding:26px 0 30px;
}
#footer ul {
	float:right;
	list-style:none;
	padding:0;
	margin:0 13px 0 0;
	display:inline;
}
#footer li {
	float:left;
	background:url(../images/sep-dotted.gif) no-repeat 0 50%;
	padding:0 10px 0 11px;
}
#footer li:first-child {
	background:none;
}
#footer li a {
	color:#692a19;
	white-space:nowrap;
}
#footer p {
	float:left;
	margin:0 0 0 33px;
	display:inline;
}
/* breadcrumbs */
.breadcrumbs {
	position:absolute;
	top:301px;
	left:20px;
	width:940px;
	line-height:35px;
}
.breadcrumbs ul {
	list-style:none;
	padding:0;
	margin:0 0 0 -11px;
	height:1%;
	overflow:hidden;
	color:#692a19;
}
.breadcrumbs li {
	float:left;
	background:url(../images/blt-breadcrumbs.gif) no-repeat 0 16px;
	padding:0 5px 0 11px;
}
.breadcrumbs li:first-child {
	background:none;
}
/* text wrapper */
.page-wrapper {
	padding:8px 25px 0;
	width:910px;
}
.text-wrapper ol {
	color:#692a19;
	padding:0 0 0 20px;
	margin:0 0 20px;
}
.text-wrapper ol ol {
	margin:0;
}
.text-wrapper ol span {
	color:#3d3633;
}
.text-wrapper ul.simple-list {
	list-style:none;
	padding:0 0 26px;
	margin:0;
}
.text-wrapper ul.simple-list li {
	padding:0 0 2px 16px;
	background:url(../images/blt.gif) no-repeat 0 0.5em;
}
.text-wrapper h2.main-title-text, h2.main-title-text, .text-wrapper h1 {
	color:#692a19;
	margin:0 0 18px;
	font:bold 1.455em/1.125em Georgia, 'Times New Roman', Times, serif;
	padding:0;
}
.text-wrapper h2 {
	color:#692a19;
	font-size:1.091em;
	margin:0;
	padding:0 0 10px;
	clear:both;
}
.text-wrapper p {
	margin:0;
	padding:0 0 18px;
}
.text-wrapper h3 {
	color:#3d3633;
	font-size:1em;
	margin:0;
	padding:0 0 22px;
}
.descr-col .holder h3 {
	padding-bottom: 11px;
}
.aside1 .holder, .text-wrapper .holder {
	width:100%;
	padding:0 0 28px;
}
.aside1 .holder:after {
	height:0;
	clear:both;
	content:'';
	display:block;
}
.text-wrapper .holder:after {
	height:0;
	clear:both;
	content:'';
	display:block;
}
.text-wrapper .col {
	float:left;
	width:160px;
	padding:0 8px 0 0;
}
.text-wrapper .lnk-blue a:visited {
	color:#32a1d2;
}
.link-example p {
	padding:0;
	clear:both;
}
.text-wrapper .lnk-red a {
	color:#692a19;
}
.text-wrapper .lnk-red a:visited {
	color:#b63a19;
}
.text-wrapper .lnk-green a {
	color:#51612b;
}
.text-wrapper .lnk-green a:visited {
	color:#8cae3c;
}
.text-wrapper .lnk-orange a {
	color:#cc6423;
}
.text-wrapper .lnk-orange a:visited {
	color:#994b1a;
}
.text-wrapper .lnk-violet a {
	color:#4e244d;
}
.text-wrapper .lnk-violet a:visited {
	color:#9b3898;
}
.lnk-view {
	background:url(../images/blt-arrow.gif) no-repeat 0 0.35em;
	color:#00587f;
	padding:0 0 0 15px;
	clear:both;
}
.lnk-view-green {
	background:url(../images/arrow-green.gif) no-repeat 0 0.35em;
}
.lnk-view-orange {
	background:url(../images/arrow-orange.gif) no-repeat 0 0.35em;
}
.lnk-view-violet {
	background:url(../images/arrow-violet.gif) no-repeat 0 0.35em;
}
.lnk-view-red {
	background:url(../images/arrow-red.gif) no-repeat 0 0.35em;
}
.pdf, .doc {
	float:left;
	padding:2px 0 2px 28px;
}
.pdf {
	background:url(../images/ico-pdf.gif) no-repeat 1px 0;
}
.doc {
	background:url(../images/ico-doc.gif) no-repeat 2px 0;
}
/* pagination */
.pagination .prev, .pagination .next {
	float:left;
	text-indent:-9999px;
	overflow:hidden;
	width:12px;
	height:11px;
	margin:4px 0 0;
}
.pagination .prev {
	background:url(../images/arrow-prev.gif);
}
.pagination .next {
	background:url(../images/arrow-next.gif);
}
.pagination ul {
	padding:0 7px;
	float:left;
	color:#00587f;
	list-style:none;
	margin:0;
}
.pagination li {
	float:left;
	background:none !important;
	padding:0 3px !important;
}
.pagination .active {
	font-weight:bold;
}
.horizontal-divider {
	display:block;
	width:100%;
	height:1px;
	overflow:hidden;
	background:url(../images/dotted.gif);
}
/* post */
.post .photo-col {
	float:left;
	position:relative;
	margin:0 18px 0 -2px;
	padding:0 0 12px;
}
* html .post .photo-col {
	margin-right:15px;
}
.post .photo-col .description-text {
	display:block;
	font-style:italic;
	color:#9e9b99;
	font-size:0.910em;
	clear:both;
	padding:3px 0 0;
}
.post .photo-col .photo div {
	float:left;
}
.post .hold {
	width:100%;
}
.post .hold:after {
	height:0;
	clear:both;
	content:'';
	display:block;
}
.post p {
	margin:0;
	padding:0 0 18px;
}
.post .date {
	display:block;
	color:#3d3633;
	font-weight:bold;
	font-style:normal;
	font-size:1.091em;
	padding:0 0 8px;
}
/* note box */
.note-box {
	float:right;
	background:#f9f6ef url(../images/bg-note-box.jpg) no-repeat;
	padding:16px 17px 0;
	width:150px;
	overflow:hidden;
	margin:0 0 10px 20px;
}
.note-box h3 {
	color:#692a19;
	padding:0 0 10px;
}
.note-box ul {
	padding:0 0 16px;
}
/* right twocolumn */
.right-twocol {
	float:right;
	width:680px;
	padding:0 25px 0 0;
	background:url(../images/dotted-vert.gif) repeat-y 465px 0;
	position:relative;
}
.right-onecol {
	float:right;
	width:680px;
	padding:0 25px 0 0;
	position:relative;
}
.right-twocol:after {
	height:0;
	clear:both;
	content:'';
	display:block;
}
/* center column */
.right-twocol .center-col {
	float:left;
	width: 430px;
	padding:10px 0 0;
}
.right-onecol .right-col {
	float:left;
	width: auto;
	padding:10px 0 0;
}
.right-twocol .center-col:after {
	height:0;
	clear:both;
	content:'';
	display:block;
}
/* center single post */
.text-wrapper .single-post {
	margin:0 -35px 0 0;
	width:465px;
	position:relative;
}
.text-wrapper .single-post .photo-col {
	margin-right:10px;
	padding:0;
}
* html .text-wrapper .single-post .photo-col {
	margin-right:7px;
}
.text-wrapper .single-post .descr-col {
	float:right;
	width:240px;
	overflow:hidden;
}
.text-wrapper .single-post h3 {
	margin:0;
	padding:0 0 6px;
	color:#51612b;
	font-size:1.091em;
}
.text-wrapper .single-post p {
	padding:0 0 6px;
}
/* center threecolumn */
.three-col {
	margin:0 -28px 0 -4px;
	width:462px !important;
	position:relative;
}
.three-col .col3 {
	float:left;
	width:130px;
	padding:0 20px 0 4px;
	overflow:hidden;
}
.three-col .photo {
	margin:0 -4px 16px;
	width:138px;
	position:relative;
	display:inline;
}
.three-col h4 {
	margin:0 0 6px;
	color:#51612b;
	font-size:1em;
	clear:both;
}
/* right sidebar */
.aside1 {
	float:right;
	width:187px;
}
/* heading */
.aside1 .heading {
	margin:0 -30px 0 -4px;
	position:relative;
	width:202px;
	height:53px;
	overflow:hidden;
	padding:0 0 0 18px;
	background:url(../images/heading-right-orange.png);
}
.aside1 .green-heading {
	background:url(../images/heading-right-green.png);
}
.aside1 .blue-heading {
	background:url(../images/heading-right-blue.png);
}
.aside1 .orange-heading {
	background:url(../images/heading-right-orange.png);
}
.aside1 .red-heading {
	background:url(../images/heading-right-red.png);
}
.aside1 .post .photo {
	margin:0 1px 12px -4px;
	position:relative;
	float:none;
}
.aside1 .post .link-list {
	padding:0;
}
.aside1 .post h2 {
	margin:0;
	padding:0 0 4px;
	color:#692a19;
	font-size:1.091em;
}
.aside1 .post h2 a {
	color:#692a19;
}
.aside1 .post h3 {
	margin:0;
	padding:0 0 4px;
	color:#cc6423;
	font-size:1em;
	clear:both;
}
.aside1 .post h3 a {
	color:#cc6423;
}
.aside1 .post .photo-col {
	margin-right:8px;
	padding:0;
}
.aside1 .post .photo-col .photo {
	margin-bottom:0;
}
* html .aside1 .post .photo-col {
	margin-right:5px;
}
/* subnavigation */
.subnav {
	width:100%;
	padding:0 0 38px;
}
.subnav:after {
	height:0;
	clear:both;
	content:'';
	display:block;
}
.subnav ul {
	list-style:none;
	padding:0;
	margin:0;
	font-size:1.091em;
}
.subnav ul:after {
	height:0;
	clear:both;
	content:'';
	display:block;
}
.subnav li {
	width:100%;
	background:url(../images/dotted.gif) repeat-x 0 100%;
	vertical-align:top;
	padding:0 0 1px;
}
.subnav a {
	display:block;
	background:url(../images/blt-subnav.gif) no-repeat 0 0.9em;
	padding:6px 0 6px 13px;
	margin:0 10px 0 12px;
}
.subnav li.active a {
	background:url(../images/blt-subnav-opened.gif) no-repeat 0 1em;
}
.subnav li.active ul a {
	background:url(../images/blt-subnav.gif) no-repeat 0 0.9em;
}
.subnav li li.active a {
	background:url(../images/blt-subnav-opened.gif) no-repeat 0 1em;
	font-weight: bold;
}
.subnav li li.active ul a {
	background:url(../images/blt-subnav.gif) no-repeat 0 0.9em;
	font-weight: normal;
}
.subnav li li li.active a {
	font-weight: bold;
}
.green-bar .subnav a {
	color:#51612b;
}
.blue-bar .subnav a {
	color:#016682;
}
.red-bar .subnav a {
	color:#692a19;
}
.subnav ul ul {
	font-size:1em;
	margin:0 0 -1px;
}
.subnav ul ul a {
	margin:0 10px 0 25px;
}
.subnav ul ul ul a {
	margin:0 10px 0 37px;
}
.subnav .opened {
	font-weight:bold;
}
.subnav .opened ul {
	font-weight:normal;
}
.subnav .opened a {
	background:url(../images/blt-subnav-opened.gif) no-repeat 0 1em;
}
.subnav .opened ul a {
	background:url(../images/blt-subnav.gif) no-repeat 0 0.9em;
}
/* DHTML-Menu Themed blocks */
/* subnavigation */
.menu:after {
	height:0;
	clear:both;
	content:'';
	display:block;
}
ul.menu:after {
	height:0;
	clear:both;
	content:'';
	display:block;
}
ul.menu {
	width:100%;
	padding:0;
	margin:0;
	font-size:1.091em;
}
ul.menu li {
	width:100%;
	background:url(../images/dotted.gif) repeat-x 0 100%;
	vertical-align:top;
	padding:0 0 1px;
	list-style: none;
}
ul.menu a {
	display:block;
	background:url(../images/blt-subnav.gif) no-repeat 0 0.9em;
	padding:6px 0 6px 13px;
	margin:0 10px 0 12px;
}
ul.menu ul.menu .active-trail {
	background:url(../images/blt-subnav-expanded.gif) no-repeat 0 1em;
}
ul.menu .active {
	background:url(../images/blt-subnav.gif) no-repeat 0 0.9em;
}
ul.menu li li .active a {
	background:url(../images/blt-subnav-expanded.gif) no-repeat 0 1em;
	font-weight: bold;
}
ul.menu li li .active ul a {
	font-weight: normal;
}
ul.menu li li li .active a {
	font-weight: bold;
}
.green-bar ul.menu a {
	color:#51612b;
}
.blue-bar ul.menu a {
	color:#016682;
}
.red-bar ul.menu a {
	color:#692a19;
}
.magenta-bar ul.menu a {
	color:#4E244D;
}
ul.menu, ul.menu ul {
	font-size:1em;
	margin:0 0 -1px;
}
.sidebar .menu li {
	margin:0 10px 0 0;
}
.menu li ul a {
	margin:0 10px 0 37px;
}
.menu .active-trail {
	font-weight:bold;
}
.menu .active-trail ul {
	font-weight:normal;
}
.menu .active-trail a {
	background:url(../images/blt-subnav-active-trail.gif) no-repeat 0 1em;
}
.menu .active-trail ul a {
	background:url(../images/blt-subnav.gif) no-repeat 0 0.9em;
}
ul.menu .active {
	background-image: none;
}
/* submavigation opened box */
.opened-box, .expanded, .expanded .fake-leaf active {
	background:url(../images/dotted.gif) repeat-x;
}
.opened-box, .expanded {
	width:100%;
	margin:0 0 -2px;
	padding:1px 0 0;
	overflow:hidden;
	position:relative;
}
.opened-box .top, .opened-box .bottom, .expanded .top, .expanded .bottom {
	overflow:hidden;
	width:100%;
	height:3px;
}
.expanded .fake-leaf, .opened-box .top {
	background-image:url(../images/opened-top.gif);
	background-repeat: no-repeat;
	background-position: top;
}
.expanded .last, .opened-box .bottom {
	background:url(../images/opened-bottom.gif);
	background-repeat: no-repeat;
	background-position: bottom;
}
ul.menu .expanded ul, .opened-box ul {
	background:#ede7d5 url(../images/opened.gif) repeat-y 100% 0;
	margin:0 0 -1px;
}
.sidebar-photo {
	margin:0 -5px;
	padding:0 0 12px;
	position:relative;
	width:194px;
}
.sidebar-photo .photo-t, .sidebar-photo .photo-b {
	display:block;
	overflow:hidden;
	width:100%;
	height:9px;
}
.sidebar-photo .photo-t {
	background:url(../images/side-photo-t.png);
}
.sidebar-photo .photo-b {
	background:url(../images/side-photo-b.png);
}
.sidebar-photo .photo-m {
	background:url(../images/side-photo-m.png);
	padding:0 10px;
	width:174px;
	overflow:hidden;
}
.sidebar-photo img {
	display:block;
}
/* tabs box */
.tabs-box {
	width:440px;
	padding:6px 0 0;
	margin:0 -10px 0 0;
}
/* tabs navigation */
.tabs-nav {
	width:100%;
	overflow:hidden;
	background:url(../images/bg-tabset.gif) no-repeat 0 100%;
}
.tabs-nav ul {
	list-style:none;
	padding:0 0 0 5px;
	margin:0;
	font-weight:bold;
}
.tabs-nav li {
	float:left;
	margin:0 0 0 4px;
	display:inline;
	background:url(../images/tab.gif);
	padding:0 0 0 4px;
}
.tabs-nav a {
	float:left;
	background:url(../images/tab.gif) no-repeat 100% 0;
	padding:0 13px;
	overflow:hidden;
	outline:none;
	color:#3d3633;
}
.tabs-nav a:hover {
	text-decoration:none;
}
.tabs-nav em {
	display:table;
	height:48px;
	font-style:normal;
	cursor:pointer;
	text-align:center;
}
.tabs-nav span {
	display:table-cell;
	vertical-align:middle;
	cursor:pointer;
}
.tabs-nav li.active, .tabs-nav li:hover, .tabs-nav li.hover {
	background-position:0 -48px;
}
.tabs-nav li.active a, .tabs-nav li:hover a, .tabs-nav li.hover a {
	background-position:100% -48px;
	color:#00587f;
}
/* tabs content */
.tabs-content {
	height:1%;
	padding:8px 20px 0;
}
.tabs-content:after {
	height:0;
	clear:both;
	content:'';
	display:block;
}
.tabs-content .tab {
	width:100%;
	overflow:hidden;
}
/* text block */
.text-block {
	width:100%;
}
.text-block:after {
	height:0;
	clear:both;
	content:'';
	display:block;
}
.text-block .block {
	width:100%;
	background:url(../images/dotted.gif) repeat-x;
	padding:18px 0 0;
}
.text-block .block:first-child {
	background:none;
}
.text-block h3 {
	margin:0;
	padding:0 0 3px;
	font-size:1.091em;
	color:#692a19;
}
.text-block h3 a {
	color:#692a19;
}
.text-block p {
	margin:0;
	padding:0 0 18px;
}
.text-block .link-list {
	padding:0;
}
.text-block .link-list img {
	vertical-align:middle;
}
/* news list */
.news-list {
	width:100%;
	overflow:hidden;
	background:url(../images/dotted.gif) repeat-x;
	padding:16px 0 18px;
}
.aside1 .news-list-first {
	background:none;
	padding-top:6px;
}
.news-list .hold {
	width:100%;
	overflow:hidden;
	padding:0 0 16px;
}
.news-list h4 {
	margin:0 0 12px;
	color:#692a19;
	font-size:1.091em;
}
.news-list p {
	margin:0;
	font-weight:bold;
}
.news-list em {
	display:block;
	font-size:0.909em;
}
.event-list {
	width:100%;
	padding:6px 0 10px;
}
.event-list .hold {
	width:100%;
	overflow:hidden;
	padding:0 0 16px;
}
.event-list .date {
	display:block;
}
.event-list .date span {
	color:#692a19;
}
.event-list em {
	display:block;
	font-size:0.909em;
}
.event-list p {
	margin:0;
	font-weight:bold;
}
.event-list p a {
	color:#cc6423;
}
/* attention-box */
.attention-box {
	overflow:hidden;
	width:530px;
	padding:12px 15px 16px 40px;
	border:1px solid #be1e2d;
	background:url(../images/ico-attention.gif) no-repeat 11px 13px;
	color:#be1e2d;
	margin:0 25px 15px;
}
.attention-box p {
	margin:0;
}
/* form box */
.form-box {
	padding:0 25px 24px;
	width:910px;
	overflow:hidden;
}
.form-box .form-item {
	width:100%;
	overflow:hidden;
	padding:0 0 18px;
	clear:both;
}
.pueblo-event-add-form .node-form .form-item label {
	color:#692a19;
	font-weight:bold;
	padding:0 0 4px;
	margin:0;
}
.pueblo-event-add-form p {
	margin:0 0 18px;
}
.pueblo-event-add-form h1, .pueblo-event-add-form h2, .pueblo-event-add-form h3 {
	font-family:Georgia, 'Times New Roman', Times, serif;
	color:#692A19;
	margin:0 0 18px;
}
.pueblo-event-add-form .form-submit, .pueblo-event-add-form .teaser-button {
	background:#006681;
	font:11px Verdana, Arial, Helvetica, sans-serif;
	color:#fff;
	float:left;
	border:0;
	cursor:pointer;
	margin:5px 8px;
	display:inline;
	padding:5px 10px;
}
.form-box .form-item label, .form-box .form-item .label {
	float:left;
	color:#692a19;
	font-weight:bold;
	padding:0 0 4px;
}
.pueblo-event-add-form .form-text, .form-box .form-item .form-text {
	border:1px solid #bcb09a;
	background:url(../images/bg-inp.gif) repeat-x;
	font:11px/14px Verdana, Arial, sans-serif;
	height:14px;
	padding:3px 4px;
	width:253px;
	clear:both;
	display:block;
}
.pueblo-event-add-form .node-form #edit-title-wrapper .form-text {
	width:95%;
}
.pueblo-event-add-form .node-form .form-radio {
	margin:1px 8px 0 0;
	width:15px;
	height:14px;
}
.pueblo-event-add-form .node-form .radioArea, .pueblo-event-add-form .node-form .radioAreaChecked {
	display:none;
}
.pueblo-event-add-form .form-text {
	width:auto;
}
.pueblo-event-add-form .required, .form-box .error .form-text {
	border:1px solid #be1e2d;
}
.form-box .form-item .field-prefix {
	float:left;
	color:#be1e2d;
	font-weight:bold;
}
.pueblo-event-add-form .node-form textarea, .form-box .form-item .form-textarea {
	border:1px solid #bcb09a;
	background:url(../images/bg-inp.gif) repeat-x;
	font:11px/17px Verdana, Arial, sans-serif;
	padding:3px 4px;
	width:253px;
	clear:both;
	display:block;
	height:106px;
	max-width:253px;
	overflow:auto;
}
.pueblo-event-add-form .node-form textarea {
	width:auto;
	max-width:845px;
}
* html .pueblo-event-add-form .node-form textarea {
	width:836px;
}
.pueblo-event-add-form .resizable-textarea .grippie {
	margin-right:0 !important;
}
.pueblo-event-add-form .form-item .description {
	clear:both;
}
.pueblo-event-add-form .filefield-element input.form-file, .pueblo-event-add-form .form-file {
	float:left;
	margin:2px 8px 5px 0;
}
.form-box .form-item .form-select {
	display:block;
	clear:both;
}
.form-box .drop-text-item {
	display:block;
	padding:0 8px;
	clear:both;
}
.form-check {
	float:left;
	height:13px;
	margin:0;
	padding:0;
	width:13px;
}
.pueblo-event-add-form fieldset.collapsed, .pueblo-event-add-form fieldset.collapsed a, .form-box .form-item label.option {
	font-weight:normal;
	color:#3d3633;
	float:none;
	padding:0;
}
.form-box .form-item .radioArea, .form-box .form-item .radioAreaChecked {
	margin:2px 7px 0 0;
}
.form-box .form-item .checkboxArea, .form-box .form-item .checkboxAreaChecked {
	margin:2px 6px 0 0;
}
.form-box .form-item .btn-submit {
	border:0 none;
	color:#fff;
	cursor:pointer;
	float:left;
	font:11px/24px Verdana, Arial, Helvetica, sans-serif;
	height:26px;
	overflow:hidden;
	padding:0 0 4px;
	text-align:center;
	width:81px;
	margin:10px 0 0;
	background:url(../images/btn-search.gif);
}
/* complex column */
.complex-column {
	float:left;
	width:700px;
	padding:20px 0 0 25px;
}
.table-box {
	height:1%;
	overflow:hidden;
	padding:0 22px 40px 0;
}
.table-box tr, .table-box td, .table-box th, .table-box table {
	border:0;
	border-collapse:collapse;
	border-spacing:0;
	padding:0;
}
.table-box table {
	width:100%;
	border:1px solid #bcb09a;
}
.table-box .col1 {
	width:147px;
}
.table-box .col2 {
	width:82px;
}
.table-box .col3 {
	width:98px;
}
.table-box th {
	color:#692a19;
	border-bottom:1px solid #bcb09a;
	background:#f6f4ec url(../images/bg-table-head.jpg) repeat-x;
	line-height:33px;
}
.table-box td {
	border-left:1px solid #bcb09a;
	line-height:30px;
	text-align:center;
}
.table-box .row-first td {
	background:url(../images/bg-table-shadow.gif) repeat-x;
	padding-top:5px;
}
.table-box tr.even {
	padding-top:5px;
	background-color: #F5F5F5;
}
.table-box td.col1 {
	font-weight:bold;
}
/* accordion box */
.accordion-box {
	width:100%;
	overflow:hidden;
	margin:0 0 45px;
}
.accordion-box h3 {
	color:#692a19;
	margin:0 0 18px;
	font-size:1.091em;
}
.accordion-box ul {
	list-style:none;
	padding:0;
	margin:0;
}
.accordion-box li {
	width:100%;
	overflow:hidden;
	vertical-align:top;
	margin:-1px 0 0;
}
.accordion-box .acc-head {
	padding:0 7px;
	background:#f6f4ec url(../images/bg-table-head.jpg) repeat-x;
	line-height:33px;
	border:1px solid #b8ab94;
	width:684px;
	position:relative;
	overflow:hidden;
}
.accordion-box .acc-head:after {
	height:0;
	clear:both;
	content:'';
	display:block;
}
.accordion-box .acc-head a {
	float:left;
	background:url(../images/arrow-acc.gif) no-repeat 0 50%;
	font-weight:bold;
	color:#692a19;
	padding:0 0 0 23px;
}
.accordion-box .ui-state-active a {
	background:url(../images/arrow-acc-open.gif) no-repeat 4px 50%;
}
.accordion-box .acc-body {
	padding:18px 12px 22px;
	width:676px;
	background:url(../images/bg-acc-body.gif) repeat-x;
}
.accordion-box .acc-body p {
	margin:0;
}
/* calendar */
.sidebar .event-calendar {
	width:250px;
	padding:0 0 15px 5px;
	background:url("../images/bg-headling-orange.png") no-repeat;
	margin:0 0 0 -9px;
	width:238px;
	position:relative;
}
* html .sidebar .event-calendar {
	background:url("../images/bg-headling-orange1.png") no-repeat -1px 30px;
}
.ie6 .sidebar .event-calendar {
	background:url("../images/bg-headling-orange1.png") no-repeat -1px 30px;
}
.webkit .sidebar .event-calendar {
	padding:50px 0 15px;
	width:245px;
}
.sidebar .event-calendar:after {
	content:"";
	display:block;
	clear:both;
}
.orange-bar .heading {
	background:url(../images/bg-headling-orange.png) no-repeat;
	width:197px;
	padding:0 26px 0 20px;
	font-weight:bold;
	color:#fff;
	height:51px;
}
.sidebar .event-calendar .heading a {
	color:#fff;
}
.sidebar .event-calendar .prev, .sidebar .event-calendar .next {
	float:left;
	margin:15px 0 0 9px;
	display:inline;
}
* html .event-calendar .prev {
	margin:15px 0 0;
}
*+ html .event-calendar .prev {
	margin:15px 0 0;
}
.sidebar .event-calendar .prev a, .sidebar .event-calendar .next a {
	float:left;
	background:url(../images/btn-prev.gif) no-repeat;
	width:6px;
	height:10px;
	text-indent:-9999px;
	overflow:hidden;
	position:relative;
}
.sidebar .event-calendar .next {
	float:right;
	margin:15px 9px 0 0;
}
.sidebar .event-calendar .next a {
	background:url(../images/btn-next.gif) no-repeat;
}
.orange-bar .heading .month {
	float:left;
	width:175px;
	text-align:center;
	position:relative;
	margin:9px 0 0;
	font:1.37em/1.2em Georgia, 'Times New Roman', Times, serif;
}
.event-calendar table {
	position:relative;
	border-collapse:collapse;
	margin:2px 0 0 15px;
}
.webkit .event-calendar table {
	margin:2px 0 0 18px;
}
.event-calendar table.sticky-header {
	position:absolute !important;
	left:-9999px !important;
	top:0;
}
.event-calendar table.event-block thead {
	padding:0 0 9px;
}
.sidebar .event-calendar th {
	font:bold 0.91em/1.2em Arial, Helvetica, sans-serif;
	text-transform:uppercase;
	color:#000;
	width:28px;
	padding:0 0 17px;
	background:url(../images/bg-doted.gif) repeat-x 0 100%;
}
.sidebar .event-calendar td {
	width:28px;
	height:26px;
	background:url(../images/bg-calendar-cel.gif) no-repeat 100% 0;
	text-align:center;
	font:0.91em/1.2em Arial, Helvetica, sans-serif;
	padding:0;
	border:solid #f6f3e9;
	border-width:0 1px;
	vertical-align:middle;
}
.sidebar .event-calendar table td.selected {
	background:url(../images/bg-marked-cell.gif) no-repeat;
	color:#fff;
}
.event-calendar td a {
	text-decoration:underline;
}
.event-calendar td a:hover {
	text-decoration:none;
}
.sidebar .event-calendar table td.pad {
	background:url(../images/bg-calendar-cel-empty.gif) no-repeat;
}
.orange-bar .heading h2 {
	font:1em/38px Georgia, 'Times New Roman', Times, serif;
}
/* search form */
.search-frm {
	width:100%;
	overflow:hidden;
}
.search-frm fieldset {
	height:1%;
	padding:0 0 0 24px;
}
.search-frm .row {
	width:100%;
	padding:0 0 8px;
}
.search-frm .row:after {
	content:"";
	display:block;
	clear:both;
}
.search-frm label.date, .search-frm .label {
	display:block;
	font:bold 1em/1.2em Verdana, Arial, Helvetica, sans-serif;
	color:#692a19;
	padding:8px 0 7px;
	float:none;
}
.search-frm .text {
	float:left;
	width:69px;
	height:14px;
	padding:4px 3px;
	background:#fff;
	border:1px solid #c1c1c1;
	font:1em/1.2em Verdana, Arial, Helvetica, sans-serif;
	color:#3d3633;
}
.search-frm .btn-calendar {
	float:left;
	background:url(../images/ico-calendar.gif) no-repeat;
	width:16px;
	height:16px;
	text-indent:-9999px;
	overflow:hidden;
	margin:4px 0 0 6px;
	display:inline;
}
.search-frm .two-columns {
	padding:0;
}
.search-frm .col {
	float:left;
	width:99px;
	padding:4px 0 0 1px;
	margin:0 -4px 0 0;
}
.search-frm .checkbox {
	float:left;
	margin:0;
	padding:0;
	width:13px;
	height:13px;
}
.search-frm label {
	float:left;
	width:80px;
	padding:0 0 0 6px;
	font:1em/1.2em Verdana, Arial, Helvetica, sans-serif;
	color:#3d3633;
}
.search-frm .btn-submit {
	background:url(../images/btn-search.gif) no-repeat;
	font:1em/1.1em Verdana, Arial, Helvetica, sans-serif;
	color:#fff;
	width:81px;
	height:26px;
	border:none;
	padding:0 0 2px;
	cursor:pointer;
}
* html .search-frm .btn-submit {
	line-height:1.3em;
}
*+html .search-frm .btn-submit {
	line-height:1.3em;
}
.events {
	padding:9px 29px 0 0;
	width:678px;
	float:right;
	position:relative;
	overflow:hidden;
}
.events .headline {
	width:100%;
	margin:0 0 12px;
	position:relative;
}
.events .headline:after {
	content:"";
	display:block;
	clear:both;
}
.events h1 {
	font:bold 1.45em/1.2em Georgia, 'Times New Roman', Times, serif;
	color:#692a19;
	margin:0;
}
.events .headline h1, .events .headline h2 {
	height:1%;
	overflow:hidden;
	margin:0;
	font:bold 1.45em/1.2em Georgia, 'Times New Roman', Times, serif;
	color:#692a19;
}
.events-frm .headline .submit, .events-frm .btn-submit {
	float:right;
	background:url(../images/btn-submit-event.gif) no-repeat;
	font:1em/1.1em Verdana, Arial, Helvetica, sans-serif;
	color:#fff;
	width:139px;
	height:26px;
	border:none;
	padding:0 0 2px;
	cursor:pointer;
	margin:1px 0 0;
}
a.new-event-button {
	float:right;
	background:url(../images/btn-submit-event.gif) no-repeat;
	color:#fff;
	width:139px;
	height:26px;
	border:none;
	padding:5px 0 0 0;
	cursor:pointer;
	margin:2px 0 0 0;
	text-align: center;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 1em;
	line-height: 1.1em;
}
a.new-event-button:hover {
	border:none;
	text-decoration:none;
}
a.new-event-button .bottom {
	margin-top:15px;
}
* html .events-frm .headline .submit {
	line-height:1.3em;
}
*+html .events-frm .headline .submit {
	line-height:1.3em;
}
.events-frm .btn-submit {
	margin:32px 0 0;
}
* html .events-frm .btn-submit {
	line-height:1.3em;
}
*+html .events-frm .btn-submit {
	line-height:1.3em;
}
.events .top-events {
	width:100%;
	padding:0 0 26px;
}
.events .top-events:after {
	content:"";
	display:block;
	clear:both;
}
.events .top-events .title {
	width:644px;
	overflow:hidden;
	background:url(../images/bg-doted1.gif) repeat-x 0 100%;
	padding:0 0 13px;
	margin:0 0 12px;
}
.events .top-events h2 {
	font:bold 1.1em/1.2em Verdana, Arial, Helvetica, sans-serif;
	color:#692a19;
	margin:0;
}
.events .three-columns {
	margin:0 -6px 0 -4px;
	float:left;
	display:inline;
	width:687px;
}
.events .col {
	float:left;
	width:195px;
	padding:0 30px 0 4px;
	position:relative;
	overflow:hidden;
}
.events .col h3 {
	font:bold 1.1em/1.2em Verdana, Arial, Helvetica, sans-serif;
	color:#3d3633;
	margin:0 0 8px;
}
.events .col .photo-col {
	margin:0 0 10px -1px;
	width:100%;
	overflow:hidden;
}
.events .col .photo div {
	float:left;
}
.events .col .text {
	padding:0 3px;
	height:1%;
}
.events .col .text:after {
	content:"";
	display:block;
	clear:both;
}
.events .col .title {
	background:none;
	display:block;
	width:auto;
	color:#cc6423;
	padding:0;
	margin:0 0 4px;
}
.events .col .title a {
	color:#cc6423;
}
.events .col p {
	padding:0 0 13px;
}
.events .col .more {
	display:block;
	width:100%;
}
.events .col .more a {
	float:left;
	background:url(../images/arrow-orange.gif) no-repeat 0 4px;
	padding:0 0 0 13px;
}
.mapping-events {
	width:674px;
	border:1px solid #bcb09a;
	margin:0;
	padding:0 0 6px;
	overflow:hidden;
	clear:both;
}
.mapping-events .heading {
	width:100%;
	background:url(../images/bg-heading.gif) repeat-y;
}
.mapping-events .heading .holder {
	width:100%;
	background:url(../images/bg-heading-holder.jpg) no-repeat;
}
.mapping-events .heading .frame {
	height:1%;
	overflow:hidden;
	padding:18px 0 20px 20px;
	background:url(../images/bg-heading-frame.gif) no-repeat 0 100%;
}
.mapping-events dl {
	margin:0;
	font-size:1.1em;
	line-height:1.2em;
	width:300px;
	float:left;
	padding:0 33px 0 0;
}
.mapping-events dl.date {
	float:none;
	margin:0 0 13px;
}
.mapping-events dl.location {
	padding:0;
}
.mapping-events dl.date dd {
	font-weight:bold;
}
.mapping-events dl dt {
	float:left;
	color:#3d3633;
	margin:0 4px 0 0;
	font-weight:bold;
}
* html .mapping-events dl dt {
	margin-right:1px;
}
.mapping-events dl dd {
	height:1%;
	overflow:hidden;
	margin:0;
	color:#692a19;
}
.mapping-events .filter {
	height:1%;
	margin:0 47px 0 21px;
	padding:13px 0 13px;
	background:url(../images/bg-doted1.gif) repeat-x 0 100%;
}
.mapping-events .filter:after {
	content:"";
	display:block;
	clear:both;
}
.mapping-events .filter label {
	float:left;
	color:#3d3633;
	padding:2px 4px 0 0;
}
.mapping-events .filter .sel-gold {
	float:left;
	width:47px;
}
.pager {
	float:right;
	margin:3px -25px 0 0;
	display:inline;
	position:relative;
}
.pager .caption {
	float:left;
	margin:0 9px 0 0;
	display:inline;
}
.pager .caption span {
	color:#692a19;
}
.pager ul {
	float:left;
	list-style:none;
	margin:1px 0 0;
	padding:0;
}
.pager ul li {
	float:left;
	vertical-align:top;
	padding:0 2px;
}
.pager ul li a {
	color:#cc6423;
}
.pager ul li a:hover {
	text-decoration:underline;
}
.pager ul li.active a {
	font-weight:bold;
}
.pager ul li a.btn-prev, .pager ul li a.btn-next {
	background:url(../images/arrow-prev.gif) no-repeat;
	float:left;
	width:12px;
	height:11px;
	text-indent:-9999px;
	overflow:hidden;
	margin:3px 0 0;
}
.pager ul li a.btn-next {
	background:url(../images/arrow-next.gif) no-repeat;
}
.mapping-events ul {
	list-style:none;
	margin:0;
	padding:0 0 1px;
	width:100%;
	overflow:hidden;
	clear:both;
}
.mapping-events ul li {
	float:left;
	width:100%;
	padding:16px 0 12px 0;
	background:#fff;
	margin:0;
}
.mapping-events ul li.even {
	background:#fbf8f3;
}
.mapping-events ul li .holder {
	height:1%;
	background:url(../images/bg-doted2.gif) repeat-y;
	padding:0 25px 0 16px;
	margin:0;
}
.mapping-events ul li .holder:after {
	content:"";
	display:block;
	clear:both;
}
.mapping-events ul .photo {
	float:left;
	margin:-7px 6px 0 0;
	position:relative;
	background:url(../images/bg-photo4.png) no-repeat;
	width:82px;
	height:76px;
	padding:9px 0 0 9px;
}
.mapping-events ul .photo a img {
	width:78px;
	height:66px;
}
* html .mapping-events ul .photo {
	margin-right:3px;
}
.mapping-events ul .photo a {
	position:relative;
}
.mapping-events ul .add-data {
	float:right;
	width:183px;
	padding:14px 0 0 29px;
	line-height:1.5em;
}
.mapping-events ul .add-data ul {
	list-style:none;
	margin:0;
	padding:0;
	width:100%;
	overflow:hidden;
}
.mapping-events ul .add-data ul li {
	float:left;
	width:auto;
	background:url(../images/divider-add-data.gif) no-repeat 0 3px;
	padding:0 7px 0 9px;
	font-weight: normal;
	list-style: none;
}
.mapping-events ul .add-data ul li:first-child {
	color:#692a19;
	padding-left:0;
	background:none
}
.mapping-events ul .add-data ul li a {
	color:#3d3633;
}
.mapping-events ul .add-data .location {
	display:block;
}
.mapping-events ul .add-data dt {
	float:left;
	margin:0 5px 0 0;
}
* html .mapping-events ul .add-data dt {
	margin-right:2px;
}
.mapping-events ul .add-data dl {
	height:1%;
	overflow:hidden;
	margin:0;
	width:auto;
	float:none;
	font-size:1em;
}
.mapping-events ul .caption {
	height:1%;
	overflow:hidden;
}
.mapping-events ul .caption .title {
	display:block;
	font-weight:bold;
	color:#cc6423;
	margin:0 0 2px;
}
.mapping-events ul .caption .title a {
	color:#cc6423;
}
.mapping-events ul .caption p {
	margin:0 0 11px;
}
.mapping-events ul .caption .more {
	width:100%;
	overflow:hidden;
}
.mapping-events ul .caption .more a {
	float:left;
	background:url(../images/arrow-orange.gif) no-repeat 0 4px;
	padding:0 0 0 14px;
}
.mapping-events .without-border {
	background:none !important;
	padding:17px 0;
}
/* events details */
.events .social {
	float:right;
	list-style:none;
	margin:0;
	padding:0;
}
.events .social li {
	float:left;
	margin:0 0 0 8px;
	display:inline;
}
.events .social a {
	float:left;
	width:16px;
	height:16px;
	text-indent:-9999px;
	overflow:hidden;
}
.events .social a.facebook {
	background:url(../images/ico-facebook.gif) no-repeat;
}
.events .social a.twitter {
	background:url(../images/ico-twitter.gif) no-repeat;
}
.events .social a.mail {
	background:url(../images/ico-mail.gif) no-repeat;
}
.events .social a.rss {
	background:url(../images/ico-rss.gif) no-repeat;
}
.events .headline dl {
	margin:8px 0 0;
	font-size:1.1em;
}
.events .headline dt {
	float:left;
	color:#3d3633;
	margin:0 4px 0 0;
}
* html .events .headline dt {
	margin-right:1px;
}
.events .headline dd {
	height:1%;
	overflow:hidden;
	color:#692a19;
	margin:0;
}
.headline .btn-submit-event {
	position:absolute;
	top:30px;
	right:0;
	background:url(../images/btn-submit-event.gif) no-repeat;
	width:139px;
	height:21px;
	text-align:center;
	color:#fff;
	padding:5px 0 0;
}
.events .post {
	width:100%;
	line-height:1.45em;
	margin:0 0 27px;
}
.events .post:after {
	content:"";
	display:block;
	clear:both;
}
.events .post .photo {
	float:left;
	margin:0 10px 0 -3px;
	display:inline;
}
* html .events .post .photo {
	margin-right:7px;
}
.events .post .photo div {
	float:left;
}
.post .caption {
	height:1%;
	overflow:hidden;
}
.events .post .date {
	list-style:none;
	margin:0 0 8px -14px;
	padding:0;
	width:100%;
	overflow:hidden;
}
.post .date li {
	float:left;
	font-size:1.1em;
	line-height:1.3em;
	color:#3d3633;
	font-weight:bold;
	background:url(../images/divider-add-data.gif) no-repeat 0 4px;
	padding:0 9px 0 14px;
}
.post .date li span {
	color:#692a19;
}
.post .location {
	display:block;
	font-weight:bold;
	margin:0 0 11px;
}
.post .location span {
	font-weight:normal;
}
.post .location span a {
	color:#cc6423;
	font-weight:bold;
}
.post .contcat {
	margin:-2px 0 27px;
}
.post .contcat dt {
	float:left;
	font-weight:bold;
	margin:0 4px 0 0;
}
* html .post .contcat dd {
	margin-right:1px;
}
.post .contcat dd {
	height:1%;
	overflow:hidden;
	margin:0;
}
.post .contcat dd p {
	padding: 0;
	margin: 0;
}
.post .contcat dd a {
	color:#cc6423;
}
.post .sub-nav {
	list-style:none;
	margin:0 -9px 0 -11px;
	padding:0;
	width:465px;
	overflow:hidden;
}
.post .sub-nav li {
	float:left;
	background:url(../images/divider-sub-nav.gif) no-repeat 0 4px;
	padding:0 9px 0 11px;
}
.events-tabs {
	padding:0;
	margin:0;
	width:100%;
	overflow:hidden;
}
.events-tabs .tabs-nav {
	width:100%;
	overflow:hidden;
	padding:0;
	margin:13px 0 0;
}
.events-tabs .tabs-nav ul {
	list-style:none;
	margin:0;
	padding:0 0 0 10px;
	background:url(../images/bg-tabset-events.gif) repeat-x 0 100%;
	height:1%;
	overflow:hidden;
	position:relative;
}
.events-tabs .tabs-nav li {
	float:left;
	margin:0 4px 0 0;
	background:none;
	padding:0;
}
.events-tabs .tabs-nav li a {
	float:left;
	padding:0;
	background:url(../images/bg-tab-el-l.gif) no-repeat 0 100%;
	font-weight:bold;
	color:#00587f;
	cursor:pointer;
}
.events-tabs .tabs-nav li span {
	float:left;
	background:url(../images/bg-tab-el-r.gif) no-repeat 100% 100%;
	height:25px;
	padding:8px 16px 0 15px;
}
.events-tabs .tabs-nav li em {
	white-space:nowrap;
	font-style:normal;
	display:inline;
	height:auto;
}
.events-tabs .tabs-nav li a:hover, .events-tabs .tabs-nav li.active a {
	background-position:0 0;
	color:#3d3633;
	text-decoration:none;
}
.events-tabs .tabs-nav li a:hover span, .events-tabs .tabs-nav li.active a span {
	background-position:100% 0;
}
.tabs-content .three-columns {
	float:none;
	display:block;
	width:100%;
	overflow:hidden;
	margin:0;
	padding:0 0 7px;
}
.tabs-content .three-columns .col {
	padding:0 8px 0 23px;
	width:190px;
	overflow:hidden;
}
.events-tabs .tabs-content {
	height:1%;
	overflow:hidden;
	border:solid #bcb09a;
	border-width:0 1px 1px;
	padding:0;
}
.events-tabs .tabs-content .tab {
	padding:30px 0 22px;
	width:100%;
	overflow:hidden;
}
.tabs-content .date {
	list-style:none;
	margin:0;
	padding:0 0 8px;
	width:100%;
	overflow:hidden;
}
.tabs-content .date li {
	float:left;
	color:#3d3633;
	font-weight:bold;
	background:url(../images/divider-add-data.gif) no-repeat 0 3px;
	padding:0 7px 0 9px;
}
.tabs-content .date li:first-child {
	background:none;
	padding-left:0;
}
.tabs-content .date li a {
	color:#692a19;
}
.tabs-content .sub-nav {
	list-style:none;
	margin:0 -21px 0 0;
	padding:0;
	float:left;
	display:inline;
	width:205px;
}
.tabs-content .sub-nav li {
	float:left;
	background:url(../images/divider-sub-nav.gif) no-repeat 0 4px;
	padding:0 9px 0 11px;
	position:relative;
}
.tabs-content .sub-nav li:first-child {
	padding-left:0;
	background:none;
}
.view-Events .view-content .views-row {
	clear: both;
	padding: 0 0 5px 0;
	margin: 0 0 15px 0;
 //background:url(../images/bg-doted1.gif) repeat-x 0 100%;
}
.view-Events .view-content .views-row a, .view-Events .view-content .views-row a:visited {
	color:#cc6423;
}
.view-Events .view-content .views-row-even {
	background-color: #fbf8f3;
}
.aside .view-Events .view-content .views-row-even, .aside1 .view-Events .view-content .views-row-even {
	background-color: #fff;
}
.aside1 .view-Events .view-content .views-row .views-field-field-event-thumb-fid, .aside .view-Events .view-content .views-row .views-field-field-event-thumb-fid {
	margin: 15px 5px 0 0;
}
.aside1 .view-Events .view-content .views-row .views-field-teaser, .aside .view-Events .view-content .views-row .views-field-teaser {
	min-height: 70px;
	margin: 0 0 10px 98px;
}
div.more-link {
	text-align: left;
	padding: 0 0 0 10px;
	background-image:url(../images/arrow-orange.gif);
	background-repeat: no-repeat;
	background-position: left center;
}
.events-categories {
	list-style:none;
	margin:-3px 0 30px;
	padding:0;
	width:100%;
	overflow:hidden;
}
.events-categories li {
	height:1%;
	overflow:hidden;
	padding:4px 12px 7px;
	background:url(../images/bg-doted1.gif) repeat-x 0 100%;
	font-size:1.1em;
}
.events-categories li a {
	background:url(../images/blt-subnav.gif) no-repeat 0 5px;
	padding:0 0 0 12px;
	color:#cc6423;
}
.sidebar .btn-submit-event {
	background:url(../images/arrow-orange.gif) no-repeat 0 4px;
	margin:0 0 0 11px;
	padding:0 0 0 13px;
	color:#cc6423;
	font-size:1.1em;
}
/* dm css */
/* 3col page */
.magenta-links .post {
	background:url(../images/bg-doted1.gif) repeat-x;
	padding:0 0 8px;
}
.magenta-links .post .photo {
	margin:20px 4px 12px -4px;
	position:relative;
}
.magenta-links .post .photo div {
	float:left;
}
.magenta-links .post:first-child {
	background:none;
}
.magenta-links .center-col {
	line-height:1.45em;
}
.magenta-links .center-col a {
	text-decoration:underline;
	color:#4e244d;
}
.magenta-links .center-col a:hover {
	text-decoration:none;
}
.magenta-links .aside1 {
	width:190px;
	margin:-21px 0 0;
}
.magenta-links .aside1 h3 {
	color:#692a19;
}
.magenta-links .link-list-green li {
	background:url(../images/arrow-violet.gif) no-repeat 0 0.4em;
	padding:0 0 10px 12px;
}
.magenta-links .post p {
	padding:0 0 12px;
}
.magenta-bar .heading {
	background:url(../images/heading-magenta.png) no-repeat;
}
.magenta-bar .subnav {
	margin:-4px 0 0;
}
.magenta-bar .subnav ul {
	font-size:1em;
	line-height:1.2em;
}
.magenta-bar .subnav a {
	color:#4e244d;
}
.sidebar .subnav .selected {
	font-weight:bold;
}
/* 1col page */
.single-column {
	padding:10px 25px 0;
	height:1%;
	line-height:1.45em;
}
.single-column h1 {
	color:#692a19;
	margin:0 0 15px;
	font:bold 1.455em/1.125em Georgia, 'Times New Roman', Times, serif;
	padding:0;
}
.single-column h2 {
	color:#692a19;
	font-size:1.091em;
	margin:0 0 16px;
	padding:16px 0 0;
}
.single-column p {
	margin:0 0 16px;
}
/* 2col page */
.two-columns {
	background:url(../images/dotted-vert.gif) repeat-y 725px 0;
	overflow:hidden;
	padding:0 20px 0 25px;
	margin:0 0 32px;
}
.two-columns .prime {
	float:left;
	width:685px;
	line-height:1.45em;
	padding:9px 0 0;
}
.prime h1 {
	font:bold 1.45em/1.2em Georgia, 'Times New Roman', Times, serif;
	margin:0 0 18px;
	color:#692a19;
}
.prime p {
	margin:0 0 16px;
}
.two-columns .prime a {
	text-decoration:underline;
	color:#692a19;
}
.two-columns .prime a:hover {
	text-decoration:none;
}
/* 2col-w-nav page */

.right-col {
	float:right;
	width:677px;
	margin:9px 29px 0 0;
	line-height:1.45em;
	display:inline;
}
.right-col h1 {
	font:bold 1.45em/1.2em Georgia, 'Times New Roman', Times, serif;
	margin:0 0 18px;
	color:#692a19;
}
.right-col p {
	margin:0 0 16px;
}
.right-col a {
	text-decoration:underline;
	color:#51612b;
}
.right-col a:hover {
	text-decoration:none;
}
.right-col .table-box {
	padding:9px 0 0;
}
/* complex-comp page */
.tabs-box h3 {
	margin:0 0 16px;
	font-size:1.1em;
	line-height:1.2em;
	font-weight:bold;
	color:#692a19;
}
.tabs-box p {
	margin:0;
	padding:0 0 16px;
}
.tabs-box .text-box {
	overflow:hidden;
	padding:0 20px;
	width:auto;
	margin:-13px 0 0;
	background:none;
	line-height:1.45em;
}
.tabs-box h2 {
	margin:0 0 19px;
	font-size:1.1em;
	line-height:1.2em;
	font-weight:bold;
	color:#692a19;
}
/*  calendar header fix */
.sidebar .month-view caption {
	width:243px;
	height:51px;
	font-weight:bold;
	color:#fff;
	position:relative;
	margin:0 0 0 -26px;
	padding:0 0 0 20px;
}
.webkit .sidebar .month-view caption {
	top:-50px;
	position:absolute;
	left:2px;
	width:220px;
}
.ie8 .sidebar .month-view caption {
	width:220px;
}
.presto .sidebar .month-view caption {
	width:220px;
}
* html .sidebar .month-view caption {
	margin:0;
	padding:0;
}
*+ html .sidebar .month-view caption {
	margin:0;
	padding:0;
}
.sidebar caption .month {
	float:left;
	font:1.37em/1.2em Georgia, "Times New Roman", Times, serif;
	margin:9px 0 0;
	position:relative;
	text-align:center;
	width:175px;
}
* html .sidebar caption .month {
	width:165px;
}
*+ html .sidebar caption .month {
	width:165px;
}
.sidebar caption a {
	position:relative;
}
.sidebar caption .month a {
	color:#fff;
}
.sidebar .heading .month {
	float:left;
	font:1.37em/1.2em Georgia, 'Times New Roman', Times, serif;
	margin:9px 0 0;
	position:relative;
	text-align:center;
	width:175px;
}
#block-views-calendar-calendar_block_1 h2 {
	display:none;
}
#block-views-calendar-calendar_block_1 .content {
	margin:0;
}
#block-views-calendar-calendar_block_1 .feed-icon {
	display:none;
}
#block-views-calendar-calendar_block_1 .view-content {
	margin:0 0 0 -9px;
	position:relative;
	width:243px;
}
#block-views-calendar-calendar_block_1 .view-content .calendar-calendar {
	background:url(../images/bg-headling-orange.png) no-repeat;
	width:197px;
	padding:0 26px 0 20px;
	font-weight:bold;
	color:#fff;
	height:51px;
}
#block-views-calendar-calendar_block_1 .date-nav {
	padding:0;
	border:0;
	background:none;
}
#block-views-calendar-calendar_block_1 .date-prev, #block-views-calendar-calendar_block_1 .date-next {
	float:left;
	background:url(../images/btn-prev.gif) no-repeat;
	width:6px;
	height:10px;
	text-indent:-9999px;
	overflow:hidden;
	position:default;
	margin:15px;
}
#block-views-calendar-calendar_block_1 .date-next {
	float:left;
	background:url(../images/btn-next.gif) no-repeat;
}
#block-views-calendar-calendar_block_1 .date-next span, #block-views-calendar-calendar_block_1 .date-prev span {
	float:left;
	height:10px;
	width:6px;
	text-indent:-9999px;
	overflow:hidden;
}
#block-views-calendar-calendar_block_1 .date-next a, #block-views-calendar-calendar_block_1 .date-prev a {
	display:block;
	height:100%;
	text-indent:-9999px;
	overflow:hidden;
	text-align:left;
}
#block-views-calendar-calendar_block_1 .date-nav .date-heading {
	color:#fff;
	width:190px;
	padding:10px 0 0;
}
#block-views-calendar-calendar_block_1 .date-heading h3 {
	color:#fff;
	font:bold 15px/18px Georgia, 'Times New Roman', Times, serif;
}
#block-views-calendar-calendar_block_1 .date-heading h3 a {
	color:#fff;
}
#block-views-calendar-calendar_block_1 .attachment {
	width:200px;
	margin:4px 0 15px 14px;
	overflow:hidden;
}
#block-views-calendar-calendar_block_1 .attachment .month-view {
	width:100%;
	overflow:hidden;
	background:url(../images/bg-doted.gif) repeat-x 0 24px !important;
}
#block-views-calendar-calendar_block_1 table {
	border-collapse:separate;
	border-spacing:3px;
}
#block-views-calendar-calendar_block_1 .calendar-calendar tr {
	background:none;
}
#block-views-calendar-calendar_block_1 .calendar-calendar th.days {
	background:none;
	border:1px solid #f6f3e9;
	font:bold 10px/12px Arial, Verdana, sans-serif;
	color:#000;
	overflow:hidden;
	width:24px;
	height:27px;
	vertical-align:top;
}
#block-views-calendar-calendar_block_1 tbody {
	border:0;
}
#block-views-calendar-calendar_block_1 td {
	font:10px/22px Arial, Verdana, sans-serif;
	color:#000;
	width:26px;
	min-width:0;
	padding:0;
	text-align:center;
}
#block-views-calendar-calendar_block_1 td.empty {
	background:#ede9dd;
	border:1px solid #dfdcd2;
}
#block-views-calendar-calendar_block_1 .has-no-events {
	background:#e7e2d5;
	border:1px solid #d0ccc2;
}
#block-views-calendar-calendar_block_1 .has-events {
	background:#d37128;
	border:1px solid #803709;
}
#block-views-calendar-calendar_block_1 td a {
	text-decoration:underline;
}
#block-views-calendar-calendar_block_1 td a:hover {
	text-decoration:none;
}
#block-views-calendar-calendar_block_1 .has-events a {
	color:#fff;
	text-decoration:none;
}
#block-views-calendar-calendar_block_1 .has-events a:hover {
	text-decoration:underline;
}
#commissionerBlocks {
	margin-right: auto;
	margin-left: auto;
}
#commissionerBlocks div div table td div {
	float: left;
	width: 30%;
	margin: 5px;
	text-align: center;
}
#districtMap {
	clear: left;
	margin-top: 20px;
}
#commissionerBlocks #district3 {
	clear: right;
}
.must-see .views-row-odd img {
	float:left;
	margin: 0 10px 10px 0;
}
.must-see .terms {
	display: none;
}
.must-see .views-row-even img {
	float:right;
	margin: 0 0 10px 10px;
}
.must-see .views-row-odd h4, .must-see .views-row-even h4 {
	clear:both;
}
.elected-official-grid div.views-row {
	float: left;
	width: 46%;
	padding: 0 10px 25px 0;
	text-align: center;
}
.location-locations-header, .location-locations-wrapper, .field-type-nodereference, .terms {
	display:none;
}
.sidebar .heading h2 a, .sidebar .heading h2 a:visited {
	color: #fff;
}
.gmap {
	margin-top: 15px;
}
.field-field-website .field-item {
	padding: 5px 0 10px 0
}
.sidebar .views-exposed-widgets {
	padding: 15px;
}
.itinerary-block .photo {
	margin: 0;
	padding: 0;
}
.itinerary-block {
	padding: 0 20px;
}
.itinerary-block .photo {
	margin: 0 0 15px 0;
	padding: -15px;
}
.itinerary-block h3 {
	clear: left;
}
table.views-view-grid td {
	text-align: center;
}
.views-row .field-content a h4 em.sticky, .views-row .field-content a:visited h4 em.sticky {
	color: #cc0000;
	font-weight: normal;
}
div.messages {
	padding: 3px;
	margin-bottom: 5px;
}
