.outtaHere {
	position:absolute;
	left:-3000px;
}
/*Radio buttons*/
.radioArea, .radioAreaChecked {
	float:left;
	width:12px;
	height:12px;
	background: url(../images/radio.gif) no-repeat;
	overflow: hidden;
}
.radioAreaChecked {background-position: 0 -12px;}

/*Checkboxes*/
.checkboxArea, .checkboxAreaChecked {
	float:left;
	width:13px;
	height:13px;
	overflow: hidden;
	background: url(../images/checkbox.gif) no-repeat;
}
.checkboxAreaChecked {background-position: 0 -13px;}

/* Selects */
.selectArea {
	position: relative;
	height:22px;
	float:left;
	color:#3d3633;
	font:11px/22px Verdana, Arial, Helvetica, sans-serif;
	border:1px solid #c1c1c1;
	background:#fff;
}
.sel-gold{
	height:18px;
	font:11px/18px Verdana, Arial, Helvetica, sans-serif;
	border:1px solid #bcb09a;
	background:#fff;
}
.selectArea .left {
	position: absolute;
	top: 0;
	left: 0;
	width:0;
	background: none;
	display: block;
}
.selectArea a.selectButton {
	position:absolute !important;
	top:0;
	right:0;
	width:100%;
	height:22px;
	background:url(../images/btn-select.gif) no-repeat 100% 0;
}
.sel-gold a.selectButton{
	position:absolute !important;
	top:0;
	right:0;
	width:100%;
	height:18px;
	width:17px;
	background:url(../images/btn-select1.gif) no-repeat 100% 0;
}
* html .sel-gold a.selectButton{right:-1px;}
.selectArea .center{
	height:22px;
	display:block;
	padding:0 0 0 8px;
	background: none;
}
.sel-gold .center{
	height:18px;
	display:block;
	padding:0 17px 0 5px;
	background: none;
}
/*Selects drop-down*/
.optionsDivInvisible{ display:none;}
.optionsDivInvisible,
.optionsDivVisible {
	position: absolute;
	background:#fff;
	display: block;
	z-index: 30;
	border:1px solid #c1c1c1;
	font:11px/13px Verdana, Arial, Helvetica, sans-serif;
}
.optionsDivInvisible {display: none;}
.optionsDivVisible ul {
	margin:0;
	padding:8px;
	list-style: none;
}
.optionsDivVisible a {
	color: #3d3633;
	text-decoration: none;
	display: block;
	height:1%;
}
.optionsDivVisible a:hover{text-decoration:none;}
.drop-sel-gold{
	border:1px solid #bcb09a;
	margin:-3px 0 0;
}
