* html body{
	width:expression(document.documentElement.clientWidth < 980 ? "980px" : "auto");
}
/* first-child */
* html .text-block .block,
* html .breadcrumbs li,
* html #footer li,
* html .top-menu li,
* html .weather .weather-tools li,
* html .aside .side-box .dates li,
* html .tools li{
	background-image:expression( (this===this.parentNode.childNodes[0]) ? "none" : "auto");
}

* html .events-list .add-data ul li{
	padding-left: expression( (this===this.parentNode.childNodes[0]) ? "0" : "9px");
	background-image: expression( (this===this.parentNode.childNodes[0]) ? "none" : "auto");
}
* html .events-list .photo {
	background:none;
	filter: progid:dximagetransform.microsoft.alphaimageloader(src='/sites/all/themes/pueblocolorado/images/bg-photo4.png', sizingmethod='crop');
}
* html .tabs-content .date li{
	padding-left: expression( (this===this.parentNode.childNodes[0]) ? "0" : "9px");
	background-image: expression( (this===this.parentNode.childNodes[0]) ? "none" : "auto");
}
* html .tabs-content .sub-nav li{
	padding-left: expression( (this===this.parentNode.childNodes[0]) ? "0" : "9px");
	background-image: expression( (this===this.parentNode.childNodes[0]) ? "none" : "auto");
}
/* png background */
* html .logo a{
	background:none;
	filter:progid:dximagetransform.microsoft.alphaimageloader(src='/sites/all/themes/pueblocolorado/images/logo.png', sizingmethod='crop');
}
* html #header .bg{
	background:none;
	filter:progid:dximagetransform.microsoft.alphaimageloader(src='/sites/all/themes/pueblocolorado/images/visual-frame.png', sizingmethod='crop');
}
* html #header.home .bg{
	background:none;
	filter:progid:dximagetransform.microsoft.alphaimageloader(src='/sites/all/themes/pueblocolorado/images/gallery-frame.png', sizingmethod='crop');
}
* html .gallery-tools a{
	background:none;
	filter:progid:dximagetransform.microsoft.alphaimageloader(src='/sites/all/themes/pueblocolorado/images/gallery-dot.png', sizingmethod='crop');
}
* html .gallery-tools .active a,
* html .gallery-tools a:hover{
	background:none;
	filter:progid:dximagetransform.microsoft.alphaimageloader(src='/sites/all/themes/pueblocolorado/images/gallery-dot-hov.png', sizingmethod='crop');
}
* html .weather .top{
	background:none;
	filter:progid:dximagetransform.microsoft.alphaimageloader(src='/sites/all/themes/pueblocolorado/images/weather-top.png', sizingmethod='crop');
}
* html .weather .bottom{
	background:none;
	filter:progid:dximagetransform.microsoft.alphaimageloader(src='/sites/all/themes/pueblocolorado/images/weather-bottom.png', sizingmethod='crop');
}
* html .sidebar-photo .photo-t{
	background:none;
	filter:progid:dximagetransform.microsoft.alphaimageloader(src='/sites/all/themes/pueblocolorado/images/side-photo-t.png', sizingmethod='crop');
}
* html .sidebar-photo .photo-b{
	background:none;
	filter:progid:dximagetransform.microsoft.alphaimageloader(src='/sites/all/themes/pueblocolorado/images/side-photo-b.png', sizingmethod='crop');
}
* html .sidebar-photo .photo-m{
	background:none;
	filter:progid:dximagetransform.microsoft.alphaimageloader(src='/sites/all/themes/pueblocolorado/images/side-photo-m.png', sizingmethod='scale');
}
/* png image */
.weather .img-weather{
behavior: expression((this.runtimeStyle.behavior="none")&&(this.pngSet?this.pngSet=true:(this.nodeName == "IMG" && this.src.toLowerCase().indexOf('.png')>-1?(this.runtimeStyle.backgroundImage = "none",
this.runtimeStyle.filter = "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='" + this.src + "', sizingMethod='image')",
this.src = "/sites/all/themes/pueblocolorado/images/none.gif"):(this.origBg = this.origBg? this.origBg :this.currentStyle.backgroundImage.toString().replace('url("','').replace('")',''),
this.runtimeStyle.filter = "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='" + this.origBg + "', sizingMethod='crop')",
this.runtimeStyle.backgroundImage = "none")),this.pngSet=true)
);
}
/* vertical align middle */
.tabs-nav em{float:left;}
.tabs-nav span{
	margin-top: expression(this.parentNode.offsetHeight > this.offsetHeight ? ((this.parentNode.offsetHeight-this.offsetHeight)/2 + "px") : "0");
	display:block;
}
/* dm css */
.magenta-links .post{background-image: expression( (this===this.parentNode.childNodes[0]) ? "none" : "auto");}
.two-columns,
.tabs-box .text-box{zoom:1;}


* html #block-views-calendar-calendar_block_1 .view-content .calendar-calendar{
	background:none;
	filter: progid:dximagetransform.microsoft.alphaimageloader(src='/sites/all/themes/pueblocolorado/images/bg-headling-orange.png', sizingmethod='crop');
}