#header{display:none;}
#headline{display:none;}
#main{
	width:80%;
	font-size:11pt;
	color:#3d3633;
	margin:0 auto;
}
a{
	color:#3d3633;
	text-decoration:none;
}
dl{
	margin:0 0 14px;
}
dt{
	float:left;
	font-weight:bold;
}
dd{
	height:1%;
	overflow:hidden;
	margin:0;
}
img{border:none}
h1{
	font-size:18px;
	margin:0 0 13px;
}
h2.main-title-text{
	font-size:18px;
	margin:0 0 13px;
}
p{margin:0 0 14px;}
h2{font-size:11px;}
h3{
	font-size:11px;
	font-weight:bold;
}
.sidebar{width:100%;}
.logo{display:none;}
.col-center{width:100%;}
.pattern-box{display:none;}
.breadcrumbs{display:none;}
#footer{
	width:80%;
	margin:0 auto;
	font-size:10pt;
	color:#3d3633;
	font-style:italic;
}
#footer ul{display:none;}
.outtaHere{display:none;}
.sidebar .subnav{display:none;}
.tabs-box{
	width:100%;
}
.tabs-box .col{
	float:left;
	width:33%;
}
.social{display:none;}
.btn-submit-event{display:none;}
.event-calendar{display:none;}
.search-frm{display:none;}
.events-frm{
	width:100%;
	overflow:visible;
}
.events-frm fieldset{
	border:none;
	overflow:visible;
}
.events-frm .submit,
.events-frm .btn-submit{display:none;}
.three-columns{width:100%;}
.three-columns .col{
	width:33%;
	float:left;
}
.mapping-events{display:none;}