.form-item  {
  margin:0;
}

.menu-item-form {
  padding: 15px 0;
}

.table-box th {
  padding:0;
  text-align:center;
}

.content div.error, .content tr.error {
  background: none;
  padding:0;
  color: #000;
}

.content div.error {
  border: 0;
}

.event-calendar .stop {
  display:none;
}

.node-form .form-item {
  margin:10px !important;
}

.node-form .form-item label {
  margin-left: 5px;
}

.node-form .form-item {
  clear:both;
}

.event-calendar thead th {
  border:none;
  text-align: center;
}

.event-calendar th {
  border: 0;
  text-align: center;
}

.event-calendar tr.even, .event-calendar tr.odd {
  padding: 0;
  border:none;
}

.event-calendar tbody {
  border: none;
}

.node-form .outtaHere {
  position: static;
  left: 0;
}

.node-form .selectArea,
.node-form .checkboxAreaChecked,
.node-form .checkboxArea {
  display:none;
}

.breadcrumbs ul li a.active {
	color: #692A19;
}